<div class="navbar-container">
  <div class="navbar">
    <ul class="navbar-list">
      <li class="navbar-item"><a [routerLink]="['']">Home</a></li>
      <li class="navbar-item"><a [routerLink]="['tech']">Tech</a></li>
      <li class="navbar-item"><a [routerLink]="['business']">Business</a></li>
      <li class="navbar-item"><a [routerLink]="['sport']">Sport</a></li>
      <li class="navbar-item"><a [routerLink]="['entertainment']">Entertainment</a></li>
      <li class="navbar-item"><a [routerLink]="['mainstrem']">Mainstream</a></li>
    </ul>
  </div>
</div>
