<div class="news-container" *ngIf="news">
  <div class="news-source-container" *ngFor="let articles of news; let i = index">
    <h3>{{articles.source}}</h3>
    <div class="news-item" *ngFor="let story of articles.articles">
      <div class="news-item-heading" *ngIf="story.title">
        <h2><a href="{{story.url}}" target="_blank">{{story.title}}</a></h2>
      </div>
      <div class="news-item-image" *ngIf="story.urlToImage">
        <a href="{{story.url}}" target="_blank"><img src="{{story.urlToImage}}"></a>
      </div>
      <div class="news-item-description" *ngIf="story.description">
        <p>{{story.description | charlimit}}</p>
      </div>
      <hr class="story-divider">
    </div>
  </div>
</div>
