/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

/* NEWS CONTAINER / ITEMS */

.news-container {
  width: 100%;
}

.news-source-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.news-item {
  width: 100%;
  margin-bottom: 10px;
}

.news-item-heading {
  font-size: 0.7em;
  padding: 10px 0;
}

.news-item-image > img {
  width: 100%;
}

.news-item-description {
  padding: 5px;
  font-size: 1em;
  line-height: 1.5;
}

h3,
h2 {
  width: 100%;
}

h3 {
  text-align: center;
  font-size: 1.3em;
  margin: 15px 0 10px;
  text-transform: uppercase;
  text-decoration: underline;
}

h2 {
  font-weight: 700;
  font-size: 1.8em;
  color: #369;
}

.story-divider {
  border-top: 2px solid #660066;
  margin: 15px 0 10px;
}
